<h1>~mood~</h1>

<img *ngIf="!checkAuth()" class="login" src="assets/login.png" (click)="login()">

<div [hidden]="!checkAuth()" class="chartWrapper">
    <div class="chartAreaWrapper">
        <canvas #canvas id="canvas" height="300" width="2000">{{chart}}</canvas>
    </div>
</div>
<br>
<div *ngIf=checkAuth()>
  The above graph plots the 'valence' of the songs in your recent listening history. <br>
  Tracks with high valence sound more positive (happy, cheerful, euphoric), <br>
  while tracks with low valence sound more negative (sad, depressed, angry).<br>
  Valence is computed through machine learning: an algorithm was trained on <br>
  a set of songs that were particularly happy or sad, and then resulting knowledge <br>
  was applied to assess the mood of other songs in the Spotify library.
  </div>
