.chartWrapper
  // position: relative
  // > canvas
  //   position: absolute
  //   left: 0
  //   top: 0
  //   pointer-events: none
  width: 600px
  overflow-x: scroll

.chartAreaWrapper
  width: 3000px
