<h1>~mood~</h1>

<!--
  <button *ngIf="!checkAuth()" (click)="login()">Login with Spotify</button>
  <button *ngIf="checkAuth()" (click)="drawChart()">Get History</button> -->

    <button *ngIf="!checkAuth()" (click)="login()">Login with Spotify</button>
    <!-- <button *ngIf="checkAuth()" (click)="drawChart()">Draw Chart</button> -->


<!-- <div>
  <canvas #canvas id="canvas">{{ chart }}</canvas>
</div> -->
<div class="chartWrapper">
    <div class="chartAreaWrapper">
        <canvas #canvas id="canvas" height="300" width="2000">{{chart}}</canvas>
    </div>
    </div>
